<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OTP</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="min-h-screen flex overflow-hidden">

  <!-- LEFT IMAGE -->
  <div class="hidden md:block w-1/2 h-screen">
    <img 
      src="/images/otp.jpg"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- RIGHT SIDE -->
  <div class="w-full md:w-1/2 flex items-center justify-center bg-[#f5f2ed]">

    <div class="w-full max-w-md p-8">

      <h1 class="text-xl font-semibold mb-6">AJAX</h1>

      <h2 class="text-3xl font-bold mb-2">Verify your email</h2>
      <p class="text-gray-500 mb-6">
        Enter the 6-digit code sent to your email
      </p>

      <!-- OTP BOXES -->
      <div id="otpContainer"  class="flex gap-2 mb-6 justify-between">
        <input maxlength="1" class="otp-box" />
        <input maxlength="1" class="otp-box" />
        <input maxlength="1" class="otp-box" />
        <input maxlength="1" class="otp-box" />
        <input maxlength="1" class="otp-box" />
        <input maxlength="1" class="otp-box" />
      </div>
      <p id="otpError" class="text-red-500 text-sm mt-2 hidden"></p>

      <!-- BUTTON -->
      <button  onclick="verifyOtp()" 
        class="w-full bg-black text-white py-3 rounded-lg hover:opacity-90">
        VERIFY CODE →
      </button>

      <!-- RESEND -->
      <div class="flex justify-between mt-4 text-sm text-gray-400">
        <span id="timer">Resend code in 60s</span>
        <button id="resendBtn" onclick="resendOtp()" class="text-black font-semibold">
          RESEND
        </button>
      </div>

    </div>

  </div>

<!-- STYLE -->
<style>
.otp-box {
  width: 45px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
</style>


  <script src="/js/user/otp.js"></script>
  <%- include('../partials/toast') %>
  <script src="/js/utils/toast.js"></script>
</body>
</html>
